
  @{
  Layout = "_Layout";
}

<h1>National Parks API</h1>
<h3>A land of 62 parks await you!</h3>

<p>@Html.ActionLink("Browse Parks", "Index", "Treats")</p>
<p>@Html.ActionLink("New User? Click Here!", "Index", "Account")</p>