  @{
  Layout = "_Layout";
}
<h1>What would you like to do?</h1>
<hr/>
<div class="box">
    @Html.ActionLink("Search Parks", "Index", "Parks", null, new { @class="btn" }) 
    @Html.ActionLink("LOGIN/REGISTER", "Index", "Account", null, new { @class="btn" })
</div>

</ol>